<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>monty</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>serv1</display-name>
    <servlet-name>serv1</servlet-name>
    <servlet-class>p1.serv1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv1</servlet-name>
    <url-pattern>/serv1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serv2</display-name>
    <servlet-name>serv2</servlet-name>
    <servlet-class>p1.serv2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv2</servlet-name>
    <url-pattern>/serv2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serv3</display-name>
    <servlet-name>serv3</servlet-name>
    <servlet-class>p1.serv3</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv3</servlet-name>
    <url-pattern>/serv3</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>serv4</display-name>
    <servlet-name>serv4</servlet-name>
    <servlet-class>p1.serv4</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>serv4</servlet-name>
    <url-pattern>/serv4</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>deleteserv</display-name>
    <servlet-name>deleteserv</servlet-name>
    <servlet-class>p1.deleteserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteserv</servlet-name>
    <url-pattern>/deleteserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>homeserv</display-name>
    <servlet-name>homeserv</servlet-name>
    <servlet-class>p1.homeserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>homeserv</servlet-name>
    <url-pattern>/homeserv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contactserv</display-name>
    <servlet-name>contactserv</servlet-name>
    <servlet-class>p1.contactserv</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactserv</servlet-name>
    <url-pattern>/contactserv</url-pattern>
  </servlet-mapping>
</web-app>